:root{
/*near black #240610, light purple #413d60, yellow #ffee96, orange #b4624a */
--near-black: #240610;
--yellow:#ffee96;
--orange: #b4624a;
--purple:#413d60;
}

body{
  font-family: 'Playpen Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--near-black);
  font-size: 18px;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5{
  font-family: 'Caveat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
}
.btn{
  background-color: var(--yellow);
  border: var(--yellow);
  color: var(--purple);
  font-weight: bold;
}
.btn:hover{
background-color: var(--purple);
border: var(--purple);
color: var(--yellow);
}
.fa-angle-down{
  color: var(--yellow);
  font-size: 36px;
}
.hero-bg {
  background-color: var(--purple);
  min-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  display: block;
  z-index: -9;
}
.hero-frame{
  height: 100vh;
}
.hero-heading{
 font-size: 72px;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--near-black);
  padding:5em;
  background-color: #ffffff9c;
  border-radius: 25px;
}
.cover-up, footer{
  background-color: #413d60fa;
  width: 100%;
}
.mask-bar{
  padding:5em;
  background-color: #413d60fa;
  mask-image: linear-gradient(transparent,black);
}
.carousel, .carousel-item {
 height:75vh;
 background-color: #b4634a93;
}
.amy-dance{
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  max-height: 74vh;
}
.carousel-text{
  padding-top:15em;
  padding-left: 3em;
  padding-right: 3em; 
}
.carousel-text-audio{
  padding-top:8em;
  padding-left: 3em;
  padding-right: 3em; 
}
audio{
  width: 90%;
}

.carousel-control-next, .carousel-control-prev{
  width:3%;
}
.concert-picture{
  margin: 0 auto;
  transform: translateY(-15%);
}
.big-chop, .fugly, .mike-carousel, .cassie-carousel{
  margin: 0 auto;
  position: relative;
  transform: translate(0, -18%);
}

.cat-carousel{
  position: relative;
  transform: translate(0, -30%);
}
#messages, #bags{
  padding-top:  5em;
}
#bags h2{
  color:var(--yellow);
  padding:1em 0.5em;
}
.card{
  border: none;
  border-radius: 10px;
  background-color: beige;
}
.card-body{
  background-color: beige;
  border-radius: 10px;
  margin: 0 1em;
}
.card h3{
  text-align: center;
}
a{
  text-decoration: none;
  color: var(--yellow);
}
.card-footer{
  background-color: var(--near-black);
}

/*-------------------------media qureys----------------*/
@media screen and ( max-width:990px) {
  html{
    overflow-x: hidden;
  }
  .hero-text{
    top:0;
    left:0;
    transform: translate(0, 0);
    width: 100%;
    padding:0;
    margin-top:5em;
  }
.carousel-item{
  position: relative;
}
  .carousel-text, .carousel-caption{
    padding-top:0;
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(255, 255, 255, 0.753);
    z-index: 3;
    color: var(--near-black);
}
.carousel-control-next, .carousel-control-prev{
  width:10%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #240610;
  opacity: 1;
  border-radius: 25px;
}
.amy-dance{
  width:100vw;
}
.carousel-text-audio{
  padding-top:5em;
}
.concert-picture{
  z-index:-10;
}
.big-chop{
  width:100%;
}
}